{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}
  </head>

  <body>
    <header>
      <nav class="bg-gray-800 text-white text-center py-4">
        <a href="{% url 'home' %}" class="inline-block px-4 py-2 mx-2 bg-gray-600 hover:bg-gray-700 rounded">Home</a>
        <a href="{% url 'about' %}" class="inline-block px-4 py-2 mx-2 bg-gray-600 hover:bg-gray-700 rounded">About</a>
      </nav>
    </header>
    <main>
      {% block content %}
      <!-- child template content goes here -->
      {% endblock content %}
    </main>
    <footer></footer>
  </body>
</html>
